<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">
<div layout:fragment = "site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h3 class="display-1 text-center">Add Item</h3>

            <form th:action="@{'/additem'}" method="post">
                <div class="form-group">
                    <label th:text = "#{label.name}">
                    </label>
                    <input type="text" class="form-control" name="item_name">
                </div>

                <div class="form-group">
                    <label th:text = "#{label.price}">
                    </label>
                    <input type="number" class="form-control" name="item_price" value="0" max="10000000" min="0">
                </div>

                <div class="form-group">
                    <label th:text = "#{label.amount}">
                    </label>
                    <input type="number" class="form-control" name="item_amount" value="0" max="1000000" min="0">
                </div>

                <div class="form-group" style="margin-top: 10px;">
                    <button class="btn btn-success" th:text = "#{button.add}"></button>
                </div>
            </form>

        </div>
    </div>
</div>
</html>
