<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">

<body>

<div class="container" layout:fragment = "site_content">

    <section class="course" id="course">

        <div class="course-grid">
            <div class="course-card" th:each="it : ${tovary}">

                <div class="course-banner">
                    <img src="./assets/images/to.jpg" alt="course banner">

                    <div class="course-tag-box">
                        <a href="#" class="badge-tag orange"><h5>Add to Favorites</h5></a>
                        <a href="#" class="badge-tag blue"><h5>Add to Basket</h5></a>
                    </div>
                </div>

                <div class="course-content">

                    <h3 class="card-title">
                        <a href="#" th:text="${it.name}"></a>
                    </h3>

                    <div class="wrapper border-bottom">

                        <div class="author">

                            <a href="#" class="author-name" th:text="${it.avtor}"></a>
                            <a th:text="${it.descp}"></a>

                        </div>


                    </div>

                    <div class="wrapper">
                        <div class="course-price" th:text="${it.price}"></div>

                        <div class="enrolled">

                        </div>
                    </div>
                    <a th:href="@{'/details/' + ${it.id}}" style="align-items: center; " class="text-center">
                        <div class="form-group"
                             style="margin-top: 10px; color: black; background-color: #0062FF; border-radius: 5px;">
                            <button class="btn btn-warning text-center">DETAILS</button>
                        </div>
                    </a>

                </div>


            </div>
        </div>

    </section>

</div>


<script th:src="@{/assets/js/script.js}"></script>

<script type="module" th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'}"></script>
<script nomodule th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'}"></script>


<script type="module" th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'}"></script>
<script nomodule th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'}"></script>
</body>
</html>