<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">

<body>

<div class="container" layout:fragment = "site_content">

    <section class="course" id="course">



        <div class="course-grid">

            <div class="course-card">

                <div class="course-banner">
                    <img src="./assets/images/sea.jpg" alt="course banner">

                    <div class="course-tag-box">

                        <a href="#" class="badge-tag blue"><h5>Add to Basket</h5></a>
                    </div>
                </div>

                <div class="course-content">

                    <h3 class="card-title">
                        <a href="#">Sea of Tranquility</a>
                    </h3>

                    <div class="wrapper border-bottom">

                        <div class="author">

                            <a href="#" class="author-name">Emily St. John Mandel</a>
                        </div>


                    </div>

                    <div class="wrapper">
                        <div class="course-price">$50.00</div>

                        <div class="enrolled">

                        </div>
                    </div>

                </div>

            </div>


            <div class="course-card">

                <div class="course-banner">
                    <img src="./assets/images/one.jpg" alt="course banner">

                    <div class="course-tag-box">
                        <a href="#" class="badge-tag blue"><h5>Add to Basket</h5></a>
                    </div>
                </div>

                <div class="course-content">

                    <h3 class="card-title">
                        <a href="#">One Italian Summer</a>
                    </h3>

                    <div class="wrapper border-bottom">

                        <div class="author">

                            <a href="#" class="author-name">Rebecca Serle</a>
                        </div>



                    </div>

                    <div class="wrapper">
                        <div class="course-price">$80.00</div>

                        <div class="enrolled">


                        </div>
                    </div>

                </div>

            </div>


            <div class="course-card">

                <div class="course-banner">
                    <img src="./assets/images/mem.jpg" alt="course banner">

                    <div class="course-tag-box">
                        <a href="#" class="badge-tag blue"><h5>Add to Basket</h5></a>
                    </div>
                </div>

                <div class="course-content">

                    <h3 class="card-title">
                        <a href="#">Memphis: A Novel</a>
                    </h3>

                    <div class="wrapper border-bottom">

                        <div class="author">

                            <a href="#" class="author-name">Tara M. Stringfellow</a>
                        </div>



                    </div>

                    <div class="wrapper">
                        <div class="course-price">$29.90</div>

                        <div class="enrolled">

                        </div>
                    </div>

                </div>

            </div>


            <div class="course-card">

                <div class="course-banner">
                    <img src="./assets/images/fre.jpg" alt="course banner">

                    <div class="course-tag-box">
                        <a href="#" class="badge-tag blue"><h5>Add to Basket</h5></a>
                    </div>
                </div>

                <div class="course-content">

                    <h3 class="card-title">
                        <a href="#">French Braid</a>
                    </h3>

                    <div class="wrapper border-bottom">

                        <div class="author">

                            <a href="#" class="author-name">Anne Tyler</a>
                        </div>



                    </div>

                    <div class="wrapper">
                        <div class="course-price">$49.90</div>

                        <div class="enrolled">


                        </div>
                    </div>

                </div>

            </div>



            <div class="course-card">

                <div class="course-banner">
                    <img src="./assets/images/to.jpg" alt="course banner">

                    <div class="course-tag-box">
                        <a href="#" class="badge-tag blue"><h5>Add to Basket</h5></a>
                    </div>
                </div>

                <div class="course-content">

                    <h3 class="card-title">
                        <a href="#">The Tobacco Wives</a>
                    </h3>

                    <div class="wrapper border-bottom">

                        <div class="author">

                            <a href="#" class="author-name">Adele Myers</a>
                        </div>



                    </div>

                    <div class="wrapper">
                        <div class="course-price">$89.00</div>

                        <div class="enrolled">


                        </div>
                    </div>

                </div>

            </div>


            <div class="course-card">

                <div class="course-banner">
                    <img src="./assets/images/port.jpg" alt="course banner">

                    <div class="course-tag-box">
                        <a href="#" class="badge-tag blue"><h5>Add to Basket</h5></a>
                    </div>
                </div>

                <div class="course-content">

                    <h3 class="card-title">
                        <a href="#">Portrait of an Unknown Lady</a>
                    </h3>

                    <div class="wrapper border-bottom">

                        <div class="author">


                            <a href="#" class="author-name">Maria Gainza</a>
                        </div>



                    </div>

                    <div class="wrapper">
                        <div class="course-price">$199.00</div>

                        <div class="enrolled">


                        </div>
                    </div>

                </div>

            </div>

        </div>


    </section>

</div>


<script th:src="@{/assets/js/script.js}"></script>

<script type="module" th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'}"></script>
<script nomodule th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'}"></script>


<script type="module" th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'}"></script>
<script nomodule th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'}"></script>
</body>
</html>