<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">
<div layout:fragment = "site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form th:action="@{'/auth'}" method="post">
                <div class="from-group">
                    <label>EMAIL : </label>
                    <input type = "email" name = "user_email" class = "form-control" required>
                </div>
                <div class="from-group">
                    <label>Password : </label>
                    <input type = "password" name = "user_password" class = "form-control" required>
                </div>
                <div class="from-group">
                    <button class="btn btn-success float-right">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>
