<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">
<head>
    <link rel="stylesheet" th:href="@{/css2/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'}"/>

    <link th:href="@{'https://fonts.googleapis.com/css?family=Source+Sans+3:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic'}"
            rel="stylesheet" />


    <script th:src="@{/assets/js/script.js}"></script>

    <!--
      - ionicon link
    -->
    <script type="module" th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'}"></script>
    <script nomodule th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'}"></script>


    <!--
      - ionicon link
    -->
    <script type="module" th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'}"></script>
    <script nomodule th:src="@{'https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'}"></script>
</head>

<div class="container" layout:fragment = "site_content">

    <div class="wrapper1">
        <div class="search-input">
            <a href="" target="_blank" hidden></a>
            <input type="text" placeholder="Type to search">
            <div class="autocom-box">
                <!-- here list are inserted from javascript -->
            </div>
            <div class="icon"><i class="fas fa-search"></i></div>
        </div>
    </div>

    <section class="course" id="course">



        <div class="course-grid">

            <div class="course-card" th:each="it : ${tovary}">

                <div class="course-banner">
                    <img src="./assets/images/to.jpg" alt="course banner">

                    <div class="course-tag-box">
                        <a href="#" class="badge-tag orange"><h5>Add to Favorites</h5></a>
                        <a href="#" class="badge-tag blue"><h5>Add to Basket</h5></a>
                    </div>
                </div>

                <div class="course-content">

                    <h3 class="card-title">
                        <a href="#" th:text="${it.name}"></a>
                    </h3>

                    <div class="wrapper border-bottom">

                        <div class="author">

                            <a href="#" class="author-name" th:text="${it.avtor}"></a>
                            <a th:text="${it.descp}"></a>

                        </div>


                    </div>

                    <div class="wrapper">
                        <div class="course-price" th:text="${it.price}"></div>

                        <div class="enrolled">

                        </div>
                    </div>

                </div>

            </div>



        </div>


    </section>

  </div>

</html>